<template>
  <div class="card">
    <div class="card-content">
      <div>
        <div class="media m-0">
          <div class="media-content"></div>
          <div class="media-right">
            <p class="is-size-7">
              {{ $t('artist-card.created') }}
              {{ displayDate(artist.ts_created) }}
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="media m-1">
          <div class="media-left m-1">
            <figure class="image is-96x96"></figure>
          </div>
          <div class="media-content p-1 has-text-left">
            <p class="title is-size-4">{{ artist.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { DateTime } from 'luxon';

export default {
  name: 'ArtistCard',
  props: {
    artist: {
      type: null,
      required: true
    }
  },
  methods: {
    displayDate: function(d) {
      if (d === '' || d === null || d === undefined) {
        return '';
      }
      return DateTime.fromSeconds(d)
        .setLocale(this.$i18n.locale)
        .toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY);
    }
  }
};
</script>

<style lang="scss" scoped></style>
