<template>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img :src="artwork.image" alt="" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">
          {{ $t('artwork-modal.title') }}
          <a @click.prevent="goToArtist">{{ artwork.artist_obj.name }}</a>
        </p>
        <Tags :tags="artwork.tags" />
      </div>
      <div class="content mt-3">
        {{ artwork.description }}
      </div>
      <footer class="card-footer">
        <a class="is-primary card-footer-item" @click.prevent="onCancel">
          {{ $t('artwork-modal.close') }}
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import Tags from '@/components/Tags.vue';

export default {
  name: 'ArtworkModal',
  components: {
    Tags
  },
  props: {
    artwork: {
      type: Object,
      required: true
    }
  },
  methods: {
    onCancel() {
      this.$emit('close');
    },
    goToArtist() {
      this.$emit('close');
      this.$router.push({
        name: this.$router.routes.ARTIST,
        params: { id: this.artwork.artist_obj.id }
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
