<template>
  <article class="media">
    <div class="media-left">
      <figure class="image is-96x96">
        <img :src="artwork.image" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content has-text-left mt-0">
        <p class="is-size-5">
          <small>{{ $t('artwork.artist') }}</small>
          <RouterLink
            :to="{
              name: $router.routes.ARTIST,
              params: { id: artwork.artist_obj.id }
            }"
            tag="a"
          >
            {{ artwork.artist_obj.name }}
          </RouterLink>
        </p>
        <p class="is-size-6">
          {{ artwork.description }}
        </p>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div
                    v-if="artwork.time && artwork.time.start"
                    class="tags has-addons"
                  >
                    <span class="tag is-dark">{{
                      $t('artwork.date_start')
                    }}</span>
                    <span class="tag is-primary is-light">{{
                      displayDate(artwork.time.start)
                    }}</span>
                  </div>
                </div>

                <div class="control">
                  <div
                    v-if="artwork.time && artwork.time.end"
                    class="tags has-addons"
                  >
                    <span class="tag is-dark">{{
                      $t('artwork.date_end')
                    }}</span>
                    <span class="tag is-danger is-light">{{
                      displayDate(artwork.time.end)
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <Tags :tags="artwork.tags" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="media-right">
      <slot name="update-icon" />
      <slot name="delete-icon" />
    </div>
  </article>
</template>

<script>
import { DateTime } from 'luxon';

import Tags from '@/components/Tags.vue';

export default {
  name: 'Artwork',
  components: {
    Tags
  },
  props: {
    artwork: {
      type: Object,
      required: true
    }
  },
  methods: {
    displayDate: function(d) {
      if (d === '' || d === null) {
        return '';
      }
      return DateTime.fromSeconds(d)
        .setLocale(this.$i18n.locale)
        .toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY);
    }
  }
};
</script>

<style lang="scss" scoped></style>
