<template>
  <article class="card mb-3">
    <div class="card-image is-clickable" @click.prevent="openModal">
      <figure class="image m-2">
        <img :src="artwork.image" />
      </figure>
    </div>
    <div class="card-content pl-2 pr-2 pt-0 pb-0">
      <div class="content has-text-left m-1">
        <p class="subtitle is-6 mb-1">
          <RouterLink
            :to="{
              name: $router.routes.ARTIST,
              params: { id: artwork.artist_obj.id }
            }"
            tag="a"
          >
            <strong>{{ artwork.artist_obj.name }}</strong>
          </RouterLink>
        </p>
        <Tags :tags="artwork.tags" />
      </div>
    </div>
  </article>
</template>

<script>
import ArtworkModal from '@/components/ArtworkModal.vue';
import Tags from '@/components/Tags.vue';

export default {
  name: 'ArtworkCard',
  components: {
    Tags
  },
  props: {
    artwork: {
      type: Object,
      required: true
    }
  },
  data() {
    return {};
  },
  methods: {
    openModal: function() {
      this.$modal.show(
        ArtworkModal,
        { artwork: this.artwork },
        {
          scrollable: true,
          height: 'auto',
          focusTrap: true
        }
      );
    }
  }
};
</script>

<style scoped lang="scss"></style>
