<template>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img :src="artwork.image" alt="" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">
          {{ artwork.artist_obj.name }}
        </p>
        <Tags :tags="artwork.tags" />
      </div>
      <div class="content mt-3">
        {{ artwork.description }}
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';

import Tags from '@/components/Tags.vue';

export default Vue.extend({
  name: 'ArtworkPopup',
  components: {
    Tags
  },
  props: {
    artwork: {
      type: Object,
      required: true
    }
  }
});
</script>

<style lang="scss" scoped></style>
