<template>
  <div class="tile is-child p-1">
    <ArtworkCard
      v-for="artwork in artworks"
      :key="artwork.id"
      :artwork="artwork"
    />
    <div v-if="pageToken" class="level">
      <div class="level-item">
        <a class="button is-outlined" @click.prevent="loadNext">
          <span>{{ $t('artworks-cards.load-next') }}</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import ArtworkCard from '@/components/ArtworkCard.vue';
import { Actions } from '@/store/map';

export default {
  name: 'ArtworksCards',
  components: {
    ArtworkCard
  },
  computed: {
    ...mapState({
      artworks: state => state.map.artworks,
      pageToken: state => state.map.pageToken
    })
  },
  methods: {
    loadNext: function() {
      this.$store.dispatch(Actions.APPEND_ARTWORKS, {
        pageToken: this.pageToken
      });
    }
  }
};
</script>

<style scoped lang="scss"></style>
