<template>
  <form @submit.prevent="onSubmit">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{ $t('artwork-form.image') }}</label>
      </div>
      <div class="field-body">
        <div v-if="!artwork.id" class="field">
          <div class="control">
            <div
              class="file has-name"
              :class="{ 'is-danger': error.image !== '' }"
            >
              <label class="file-label">
                <input
                  ref="artworkImage"
                  class="file-input"
                  type="file"
                  @change="onFileUpload"
                />
                <span class="file-cta">
                  <span class="file-icon">
                    <FontAwesomeIcon icon="upload"></FontAwesomeIcon>
                  </span>
                  <span class="file-label">
                    {{ $t('artwork-form.choose-file') }}
                  </span>
                </span>
                <span class="file-name">{{ formArtwork.image.name }}</span>
              </label>
            </div>
          </div>
          <p class="help is-danger has-text-left">{{ error.image }}</p>
        </div>
        <img v-if="artwork.id" :src="artwork.image" />
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{ $t('artwork-form.location') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div id="streetmap"></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{ $t('artwork-form.artist') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <VueTagsInput
            v-model="inputArtist"
            :tags="inputArtists"
            :autocomplete-items="autocompleteArtists"
            :max-tags="1"
            :placeholder="emptyPlaceholder"
            @tags-changed="updateArtist"
          />
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">{{ $t('artwork-form.description') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea
              v-model="formArtwork.description"
              class="textarea"
              rows="8"
              :disabled="disabled || loading"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{ $t('artwork-form.tags') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <VueTagsInput
            v-model="inputTag"
            :tags="inputTags"
            :autocomplete-items="autocompleteTags"
            :placeholder="emptyPlaceholder"
            @tags-changed="updateTag"
          />
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{ $t('artwork-form.time.start') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <VueDatePicker v-model="timeStart" :locale="{ lang: $i18n.locale }" />
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{ $t('artwork-form.time.end') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <VueDatePicker
            v-model="timeEnd"
            :locale="{ lang: $i18n.locale }"
            clearable
          />
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field has-addons has-addons-right">
          <div class="control">
            <button
              :class="{
                button: true,
                'is-primary': true,
                'is-loading': loading
              }"
              :disabled="disabled || loading || formHasError"
            >
              <slot name="submit-button">
                <span>{{ $t('artwork-form.submit') }}</span>
              </slot>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import VueTagsInput from '@johmun/vue-tags-input';
import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
import { VueDatePicker } from '@mathieustan/vue-datepicker';
import _ from 'lodash';
import { DateTime } from 'luxon';
import mapboxgl from 'mapbox-gl';

import '@mathieustan/vue-datepicker/dist/vue-datepicker.min.css';

mapboxgl.accessToken =
  'pk.eyJ1Ijoic3RyZWV0bXVzZXVtIiwiYSI6ImNrbGUxMzF5NTF1emkybmxibXVtY2JsdXgifQ.ZWAPxP7O4pVoOcAUXcc58A';

function valuesFromArtwork(artwork) {
  const formArtwork = {};
  for (const key in artwork) {
    formArtwork[key] = artwork[key];
  }
  return formArtwork;
}

export default {
  name: 'ArtworkForm',
  components: {
    VueDatePicker,
    VueTagsInput
  },
  props: {
    artwork: {
      type: null,
      required: true
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      formArtwork: valuesFromArtwork(this.artwork),
      inputArtist: '',
      inputArtists: [],
      autocompleteArtists: [],
      inputTag: '',
      inputTags: [],
      autocompleteTags: [],
      emptyPlaceholder: '',
      timeStart: new Date(),
      timeEnd: null,
      mapStyle: 'mapbox://styles/streetmuseum/ckle4gtnp2t2k18mphl9wqmwy',
      defaultCoordinates: [2.3488, 48.8534],
      defaultZoom: 12,
      defaultInput: '',
      mapboxgl: mapboxgl,
      map: null,
      marker: null,
      error: {
        image: ''
      }
    };
  },
  computed: {
    formHasError: function() {
      for (const key in this.error) {
        if (this.error[key] !== '') {
          return true;
        }
      }
      return false;
    }
  },
  watch: {
    inputArtist: function() {
      this.debouncedArtist();
    },
    inputTag: function() {
      this.debouncedTag();
    },
    artwork: {
      deep: true,
      handler(a) {
        this.$set(this, 'formArtwork', valuesFromArtwork(a));

        if (a.id !== undefined) {
          this.specialValuesFromArtwork(a);
        }
      }
    }
  },
  created: function() {
    this.debouncedArtist = _.debounce(this.searchArtists, 600);
    this.debouncedTag = _.debounce(this.searchTags, 600);
  },
  mounted() {
    const self = this;

    this.map = new mapboxgl.Map({
      container: 'streetmap',
      style: this.mapStyle,
      center: this.defaultCoordinates,
      zoom: this.defaultZoom
    });

    const geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
      language: this.$i18n.locale,
      marker: false
    });

    this.map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');
    this.map.addControl(geocoder, 'top-right');

    let defaultMarkerPosition = [2.3487848972, 48.8534023472];
    if (
      !_.isEmpty(this.artwork.location) &&
      this.artwork.location.lon !== 0 &&
      this.artwork.location.lat !== 0
    ) {
      defaultMarkerPosition = [
        this.artwork.location.lon,
        this.artwork.location.lat
      ];
    }
    this.marker = new mapboxgl.Marker({
      draggable: true
    })
      .setLngLat(defaultMarkerPosition)
      .addTo(this.map);
    this.marker.on('dragend', this.onDragEnd);
    this.map.flyTo({
      center: defaultMarkerPosition,
      essential: true
    });

    this.map.on('load', function() {
      geocoder.on('result', function(ev, marker = self.marker) {
        const result = ev.result;
        if (result.geometry.coordinates) {
          marker.setLngLat(result.geometry.coordinates);
        }
      });
    });
  },
  methods: {
    onSubmit() {
      if (this.formHasError) {
        return false;
      }
      const lngLat = this.marker.getLngLat();
      this.formArtwork.location = JSON.stringify({
        lon: lngLat.lng,
        lat: lngLat.lat
      });

      this.formArtwork.tags = JSON.stringify(this.inputTags.map(t => t.id));

      if (this.inputArtists.length > 0) {
        this.formArtwork.artist = this.inputArtists[0].id;
      }

      const tStart = DateTime.fromISO(this.timeStart);
      const tEnd = DateTime.fromISO(this.timeEnd);
      this.formArtwork.time = JSON.stringify({
        start: tStart.toSeconds(),
        end: tEnd.toSeconds()
      });

      this.$emit('submit', this.formArtwork);
    },
    onFileUpload() {
      this.error.image = '';
      this.formArtwork.image = this.$refs.artworkImage.files[0];
      if (this.formArtwork.image.type !== 'image/jpeg') {
        this.error.image = this.$t('artwork-form.error.image');
      }
    },
    onDragEnd() {
      const lngLat = this.marker.getLngLat();
      this.formArtwork.location = JSON.stringify({
        lon: lngLat.lng,
        lat: lngLat.lat
      });
    },
    async searchArtists() {
      if (this.inputArtist < 2) return;

      const artists = [];
      let artistsResult = await this.$streetmuseum.searchArtists({
        pattern: this.inputArtist
      });
      artists.push(...artistsResult.artists);
      while (artistsResult.nextPageToken !== '') {
        artistsResult = await this.$streetmuseum.searchArtists({
          pageToken: artistsResult.nextPageToken
        });
        artists.push(...artistsResult.artists);
      }
      this.autocompleteArtists = _.uniqWith(
        artists.map(a => {
          return { text: a.name, id: a.id };
        }),
        _.isEqual
      );
    },
    async updateArtist(artists) {
      if (artists.length === 0) {
        return;
      }
      if (artists[0].id === undefined) {
        const artist = await this.$streetmuseum.createArtist({
          name: artists[0].text
        });
        artist.text = artist.name;
        artists[0] = artist;
      }
      this.autocompleteArtists = [];
      this.inputArtists = artists;
    },
    async searchTags() {
      if (this.inputTag < 1) return;

      const tags = [];
      let tagsResult = await this.$streetmuseum.searchTags({
        pattern: this.inputTag
      });
      tags.push(...tagsResult.tags);
      while (tagsResult.nextPageToken !== '') {
        tagsResult = await this.$streetmuseum.searchTags({
          pageToken: tagsResult.nextPageToken
        });
        tags.push(...tagsResult.tags);
      }
      this.autocompleteTags = _.uniqWith(
        tags.map(t => {
          return { text: t.tag, id: t.tag };
        }),
        _.isEqual
      );
    },
    async updateTag(tags) {
      for (let i = 0; i < tags.length; i++) {
        if (tags[i].id === undefined) {
          const tag = await this.$streetmuseum.createTag({
            tag: tags[i].text
          });
          tag.text = tag.tag;
          tag.id = tag.tag;
          tags[i] = tag;
        }
      }
      this.autocompleteTags = [];
      this.inputTags = tags;
    },
    specialValuesFromArtwork(artwork) {
      this.inputArtists = [
        { text: artwork.artist_obj.name, id: artwork.artist }
      ];
      this.inputTags = artwork.tags.map(t => {
        return { text: t, id: t };
      });
      if (artwork.time.hasOwnProperty('start') && artwork.time.start !== null) {
        const tStart = DateTime.fromSeconds(artwork.time.start);
        this.timeStart = tStart.toISODate();
      }
      if (artwork.time.hasOwnProperty('end') && artwork.time.end !== null) {
        const tEnd = DateTime.fromSeconds(artwork.time.end);
        this.timeEnd = tEnd.toISODate();
      }
      if (
        !_.isEmpty(this.artwork.location) &&
        this.artwork.location.lon !== 0 &&
        this.artwork.location.lat !== 0
      ) {
        const markerPosition = [
          this.artwork.location.lon,
          this.artwork.location.lat
        ];
        this.marker.setLngLat(markerPosition);
        this.map.flyTo({
          center: markerPosition,
          essential: true
        });
      }
    }
  }
};
</script>
<style lang="scss" scoped>
#streetmap {
  width: 100%;
  height: 400px;
}
</style>
