<template>
  <div class="container mt-4">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <slot name="add-button">&nbsp;</slot>
        </div>
      </div>
    </div>
    <div v-if="loading" class="level">
      <div class="level-item">
        <span class="icon is-large">
          <FontAwesomeIcon
            icon="spinner"
            class="fas fa-2x fa-pulse"
          ></FontAwesomeIcon>
        </span>
      </div>
    </div>
    <Artwork v-for="artwork in artworks" :key="artwork.id" :artwork="artwork">
      <template v-if="withButtons" v-slot:update-icon>
        <RouterLink
          :to="{
            name: $router.routes.ARTWORK_EDIT,
            params: { id: artwork.id }
          }"
          class="icon"
        >
          <FontAwesomeIcon icon="highlighter" />
        </RouterLink>
      </template>
      <template v-if="withButtons" v-slot:delete-icon>
        <a class="icon" @click.prevent="onDelete(artwork.id)">
          <FontAwesomeIcon icon="trash-alt" />
        </a>
      </template>
    </Artwork>
  </div>
</template>

<script>
import Artwork from '@/components/Artwork.vue';

export default {
  name: 'Artworks',
  components: {
    Artwork
  },
  props: {
    artworks: {
      type: null,
      required: true
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    withButtons: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {};
  },
  methods: {
    onDelete: async function(artworkId) {
      const idx = this.artworks.findIndex(artwork => artwork.id === artworkId);

      if (idx > -1) {
        if (window.confirm(this.$t('artwork.deletion_confirm'))) {
          await this.$streetmuseum.deleteArtwork({
            artwork: this.artworks[idx]
          });
        }
        this.artworks.splice(idx, 1);
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
