<template>
  <nav
    id="nav"
    class="navbar is-fixed-top p-0 is-primary"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <RouterLink
        id="sm-brand"
        class="navbar-item"
        :to="{ name: $router.routes.MUSEUM }"
      >
        <img src="../assets/logo.png" />
      </RouterLink>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBulma"
        :class="{ 'is-active': isNavbarMenuOpen }"
        @click="isNavbarMenuOpen = !isNavbarMenuOpen"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div
      id="navbarBulma"
      class="navbar-menu"
      :class="{ 'is-active': isNavbarMenuOpen }"
    >
      <div class="navbar-end">
        <RouterLink
          class="navbar-item"
          :to="{ name: $router.routes.MUSEUM }"
          :class="{ 'is-active': $route.name === $router.routes.MUSEUM }"
          >{{ $t('nav.museum') }}</RouterLink
        >
        <RouterLink
          class="navbar-item"
          :to="{ name: $router.routes.LATEST }"
          :class="{ 'is-active': $route.name === $router.routes.LATEST }"
          >{{ $t('nav.latest') }}</RouterLink
        >
        <RouterLink
          class="navbar-item"
          :to="{ name: $router.routes.ABOUT }"
          :class="{ 'is-active': $route.name === $router.routes.ABOUT }"
          >{{ $t('nav.about') }}</RouterLink
        >
        <NavLocale />
        <NavLogin v-if="!$auth.isAuthenticated" />
        <NavUser v-if="$auth.isAuthenticated" />
      </div>
    </div>
  </nav>
</template>

<script>
import NavLocale from '@/components/NavLocale';
import NavLogin from '@/components/NavLogin';
import NavUser from '@/components/NavUser';

export default {
  name: 'Navbar',
  components: { NavLocale, NavLogin, NavUser },
  data() {
    return {
      isNavbarMenuOpen: false
    };
  }
};
</script>

<style lang="scss" scoped></style>
