<template>
  <a
    v-if="!$auth.isAuthenticated"
    class="navbar-item navbar-link is-arrowless"
    @click.prevent="login"
  >
    <span class="icon">
      <FontAwesomeIcon icon="user" />
    </span>
  </a>
</template>

<script>
export default {
  name: 'NavLogin',
  computed: {},
  methods: {
    login() {
      this.$auth.loginWithRedirect();
    }
  }
};
</script>
