<template>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link is-arrowless">
      <span class="icon is-medium">
        <FontAwesomeIcon icon="globe-africa" class="fas" />
      </span>
      <span class="is-family-secondary">{{ $i18n.locale }}</span></a
    >
    <div class="navbar-dropdown is-right">
      <a
        v-for="locale in locales"
        :key="locale.code"
        class="navbar-item is-family-secondary is-primary"
        @click.prevent="setLocale(locale.code)"
        >{{ emojiLocale(locale.code) }} {{ locale.name }}</a
      >
    </div>
  </div>
</template>

<script>
import { getSupportedLocales } from '@/i18n/supported-locales';

export default {
  name: 'NavLocale',
  data: () => ({ locales: getSupportedLocales() }),
  methods: {
    setLocale(locale) {
      this.$i18n.locale = locale;
    },
    emojiLocale(locale) {
      const countryCode = locale === 'en' ? 'us' : locale;
      return countryCode
        .toUpperCase()
        .replace(/./g, char =>
          String.fromCodePoint(char.charCodeAt(0) + 127397)
        );
    }
  }
};
</script>

<style lang="scss" scoped></style>
