<template>
  <div
    v-if="!$auth.loading && $auth.isAuthenticated"
    class="navbar-item has-dropdown is-hoverable"
  >
    <a class="navbar-link is-arrowless">
      <figure class="image is-32x32">
        <img class="is-rounded" :src="$auth.user.picture" />
      </figure>
    </a>
    <div class="navbar-dropdown is-right">
      <RouterLink class="navbar-item" :to="{ name: $router.routes.PROFILE }">
        <span class="icon is-medium">
          <FontAwesomeIcon icon="id-card" class="fas" />
        </span>
        <span>{{ $t('nav.login.profile') }}</span>
      </RouterLink>
      <a class="navbar-item" @click="logout">
        <span class="icon is-medium">
          <FontAwesomeIcon icon="sign-out-alt" class="fas" />
        </span>
        <span>{{ $t('nav.login.logout') }}</span>
      </a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import { Actions } from '@/store/user';

export default {
  name: 'NavUser',
  computed: {
    ...mapGetters(['me'])
  },
  async created() {
    if (this.me === null && this.$auth && this.$auth.isAuthenticated) {
      const user = await this.$auth.auth0Client.getUser();
      this.$store.dispatch(Actions.REGISTER_USER, JSON.stringify(user));
    }
  },
  methods: {
    // Log the user out
    logout() {
      this.$auth.logout({
        returnTo: window.location.origin
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
