<template>
  <div id="search-tile" class="tile is-child mb-0 p-0 card is-flex-grow-0">
    <header class="card-header">
      <p class="card-header-title has-text-right">
        {{ $t('search.title') }}
      </p>
    </header>
    <div class="card-content">
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">{{ $t('search.artist') }}</label>
        </div>
        <div class="field-body">
          <div class="control has-icons-right">
            <input v-model="inputArtist" class="input is-small" type="text" />
            <span class="icon is-small is-right">
              <FontAwesomeIcon icon="user-edit" />
            </span>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">{{ $t('search.tag') }}</label>
        </div>
        <div class="field-body">
          <div class="field">
            <VueTagsInput
              v-model="inputTag"
              :tags="inputTags"
              :autocomplete-items="autocompleteTags"
              :placeholder="emptyPlaceholder"
              @tags-changed="updateTag"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a class="card-footer-item p-0" @click.prevent="onSubmit">
        <span class="icon is-large">
          <FontAwesomeIcon icon="search" />
        </span>
        {{ $t('search.submit') }}
      </a>
    </div>
  </div>
</template>

<script>
import VueTagsInput from '@johmun/vue-tags-input';
import _ from 'lodash';

import { Actions } from '@/store/map';

export default {
  name: 'Search',
  components: {
    VueTagsInput
  },
  data() {
    return {
      inputArtist: '',
      inputTag: '',
      inputTags: [],
      autocompleteTags: [],
      emptyPlaceholder: ''
    };
  },
  watch: {
    inputTag: function() {
      this.debouncedTag();
    }
  },
  created: function() {
    this.debouncedTag = _.debounce(this.searchTags, 200);
  },
  methods: {
    async searchTags() {
      if (this.inputTag < 1) return;

      const tags = [];
      let tagsResult = await this.$streetmuseum.searchTags({
        pattern: this.inputTag
      });
      tags.push(...tagsResult.tags);
      while (tagsResult.nextPageToken !== '') {
        tagsResult = await this.$streetmuseum.searchTags({
          pageToken: tagsResult.nextPageToken
        });
        tags.push(...tagsResult.tags);
      }
      this.autocompleteTags = _.uniqWith(
        tags.map(t => {
          return { text: t.tag, id: t.tag };
        }),
        _.isEqual
      );
    },
    async updateTag(tags) {
      const newTags = [];
      for (let i = 0; i < tags.length; i++) {
        if (tags[i].id !== undefined) {
          newTags.push(tags[i]);
        }
      }

      this.autocompleteTags = [];
      this.inputTags = newTags;
    },
    onSubmit() {
      const tags = JSON.stringify(this.inputTags.map(t => t.id));
      this.$store.dispatch(Actions.SEARCH_ARTWORKS, {
        tags,
        artist: this.inputArtist,
        pageToken: ''
      });
    }
  }
};
</script>

<style scoped lang="scss">
#search-tile {
  margin-bottom: 0px !important;
}
</style>
