<template>
  <section class="hero is-fullheight-with-navbar">
    <div id="streetmap" class="hero-body p-0" />
  </section>
</template>

<script>
import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
import mapboxgl from 'mapbox-gl';
import { mapState, mapGetters } from 'vuex';

import ArtworkPopup from '@/components/ArtworkPopup.vue';
import { Actions, Mutations } from '@/store/map';

mapboxgl.accessToken =
  'pk.eyJ1Ijoic3RyZWV0bXVzZXVtIiwiYSI6ImNrbGUxMzF5NTF1emkybmxibXVtY2JsdXgifQ.ZWAPxP7O4pVoOcAUXcc58A';

export default {
  name: 'StreetMap',
  data() {
    return {
      mapStyle: 'mapbox://styles/streetmuseum/ckle4gtnp2t2k18mphl9wqmwy',
      defaultCoordinates: [2.3488, 48.8534],
      defaultZoom: 12,
      defaultInput: '',
      mapboxgl: mapboxgl,
      map: null,
      markers: []
    };
  },
  computed: {
    ...mapState({
      artworks: state => state.map.artworks
    }),
    ...mapGetters(['artworkCount'])
  },
  watch: {
    artworks: {
      deep: true,
      handler() {
        this.placeMarkers();
      }
    }
  },
  created() {
    this.$store.subscribe(mutation => {
      if (mutation.type === Mutations.ARTWORKS_RECEIVED) {
        this.placeMarkers();
      }
    });
  },
  mounted() {
    this.map = new mapboxgl.Map({
      container: 'streetmap',
      style: this.mapStyle,
      center: this.defaultCoordinates,
      zoom: this.defaultZoom
    });

    const geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
      language: this.$i18n.locale,
      marker: false
    });

    this.map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');
    this.map.addControl(geocoder, 'top-right');

    const self = this;

    this.map.on('load', function() {
      const bounds = self.map.getBounds();
      self.$store.dispatch(Actions.SET_BOUNDS, {
        n: bounds.getNorth(),
        e: bounds.getEast(),
        s: bounds.getSouth(),
        w: bounds.getWest()
      });
      self.$store.dispatch(Actions.SEARCH_ARTWORKS, { pageToken: '' });
    });
    this.map.on('moveend', function() {
      const bounds = self.map.getBounds();
      self.$store.dispatch(Actions.SET_BOUNDS, {
        n: bounds.getNorth(),
        e: bounds.getEast(),
        s: bounds.getSouth(),
        w: bounds.getWest()
      });
    });

    this.placeMarkers();
  },
  methods: {
    formatCoordinates: function(obj) {
      return [obj.lon, obj.lat];
    },
    placeMarkers: function() {
      for (const marker of this.markers) {
        marker.remove();
      }
      for (const artworkpopup of document.querySelectorAll('[id^="popup_"]')) {
        artworkpopup.remove();
      }
      this.markers = [];

      for (const artwork of this.artworks) {
        const el = document.createElement('div');
        el.id = `popup_${artwork.id}`;
        const artworkpopup = new ArtworkPopup({
          propsData: { artwork }
        }).$mount();
        el.appendChild(artworkpopup.$el);

        const popup = new mapboxgl.Popup({ offset: 5 }).setDOMContent(el);

        this.markers.push(
          new mapboxgl.Marker()
            .setLngLat(this.formatCoordinates(artwork.location))
            .setPopup(popup)
            .addTo(this.map)
        );
      }
    }
  }
};
</script>

<style scoped lang="scss">
#map {
  width: 100%;
  height: 100%;
}
</style>
