<template>
  <div class="tags">
    <RouterLink
      v-for="tag in tags"
      :key="tag"
      :to="{
        name: $router.routes.TAG,
        params: { tag: tag }
      }"
      tag="span"
      class="tag is-light is-clickable"
    >
      <FontAwesomeIcon icon="hashtag" class="icon" /><span>{{ tag }}</span>
    </RouterLink>
  </div>
</template>

<script>
export default {
  name: 'Tags',
  props: {
    tags: {
      type: Array,
      required: true
    }
  }
};
</script>
