<template>
  <form @submit.prevent="onSubmit">
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">{{ $t('user-form.name') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input
              v-model="formUser.name"
              class="input is-small"
              type="text"
              :disabled="disabled || loading"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">{{ $t('user-form.email') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div
            class="control"
            :class="{ 'has-icons-right': 'formUser.email_verified' }"
          >
            <input
              v-model="formUser.email"
              class="input is-small"
              type="text"
              disabled
            />
            <span v-if="formUser.email_verified" class="icon is-right">
              <FontAwesomeIcon icon="check-circle" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">{{ $t('user-form.icon') }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <figure class="image is-32x32">
              <img class="is-rounded" :src="formUser.icon" />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field has-addons has-addons-right">
          <div class="control">
            <button
              :class="{
                button: true,
                'is-primary': true,
                'is-loading': loading
              }"
              :disabled="disabled || loading || formHasError"
            >
              <slot name="submit-button">
                <span>{{ $t('user-form.submit') }}</span>
              </slot>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import _ from 'lodash';

function valuesFromUser(user) {
  return _.cloneDeep(user);
}

export default {
  name: 'UserForm',
  props: {
    user: {
      type: null,
      required: true
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      formUser: valuesFromUser(this.user),
      error: {}
    };
  },
  computed: {
    formHasError: function() {
      for (const key in this.error) {
        if (this.error[key] !== '') {
          return true;
        }
      }
      return false;
    }
  },
  watch: {
    user: {
      deep: true,
      handler(u) {
        this.$set(this, 'formUser', valuesFromUser(u));
      }
    }
  },
  methods: {
    onSubmit() {
      if (this.formHasError) {
        return false;
      }

      this.$emit('submit', this.formUser);
    }
  }
};
</script>
<style lang="scss" scoped></style>
