<template>
  <div class="card">
    <div class="card-content">
      <div>
        <div class="media m-0">
          <div class="media-content"></div>
          <div class="media-right">
            <p class="is-size-7">
              {{ $t('user-card.member_since', { memberSince }) }}
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="media m-1">
          <div class="media-left m-1">
            <figure class="image is-96x96">
              <img class="is-rounded" :src="me.icon" />
            </figure>
          </div>
          <div class="media-content p-1 has-text-left">
            <p class="title is-size-4">{{ me.name }}</p>
            <p class="subtitle is-size-6">
              {{ me.email }}
              <span v-if="me.email_verified" class="icon is-small">
                <FontAwesomeIcon class="fas" icon="check-circle" />
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="content mt-2">
        <div class="level">
          <div class="level-left"></div>
          <div class="level-right">
            <div class="level-item">
              <RouterLink
                class="button"
                :to="{
                  name: $router.routes.USER_EDIT,
                  params: { id: me.uuid }
                }"
              >
                <span class="icon">
                  <FontAwesomeIcon icon="highlighter"></FontAwesomeIcon>
                </span>
                <span>
                  {{ $t('user-card.edit-button') }}
                </span>
              </RouterLink>
            </div>
            <div class="level-item">
              <a class="button is-danger" @click.prevent="openDeleteModal">
                <span class="icon is-medium">
                  <FontAwesomeIcon icon="user-times" class="fas" />
                </span>
                <span>{{ $t('user-card.delete-button') }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { DateTime } from 'luxon';
import { mapGetters } from 'vuex';

import UserDeleteModal from '@/components/UserDeleteModal.vue';

export default {
  name: 'UserCard',
  computed: {
    ...mapGetters(['me']),
    memberSince: function() {
      const dt = DateTime.fromSeconds(this.me.ts_created);
      return dt
        .setLocale(this.$i18n.locale)
        .toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY);
    }
  },
  methods: {
    openDeleteModal: function() {
      this.$modal.show(
        UserDeleteModal,
        { me: this.me },
        {
          scrollable: true,
          height: 'auto',
          focusTrap: true
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped></style>
