<template>
  <div class="card">
    <div class="card-header">
      <p class="card-header-title">
        {{ $t('profile.delete.title') }}
      </p>
    </div>
    <div class="card-content">
      <p>{{ $t('profile.delete.body') }}</p>
      <label class="checkbox">
        <input v-model="delete_verif_one" type="checkbox" />
        {{ $t('profile.delete.check.one') }}
      </label>
      <br />
      <label class="checkbox">
        <input v-model="delete_verif_two" type="checkbox" />
        {{ $t('profile.delete.check.two') }}
      </label>
      <br />
      <label class="checkbox">
        <input v-model="delete_verif_three" type="checkbox" />
        {{ $t('profile.delete.check.three') }}
      </label>
    </div>
    <footer class="card-footer">
      <a
        class="card-footer-item button is-danger"
        :class="{
          'is-static':
            !delete_verif_one || !delete_verif_two || !delete_verif_three
        }"
        @click="onSubmit"
      >
        {{ $t('profile.delete.title') }}
      </a>
      <a class="card-footer-item button" @click.prevent="onCancel">
        {{ $t('profile.delete.cancel') }}
      </a>
    </footer>
  </div>
</template>

<script>
import { Actions } from '@/store/user';

export default {
  name: 'UserDeleteModal',
  props: {
    me: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      delete_verif_one: false,
      delete_verif_two: false,
      delete_verif_three: false
    };
  },
  methods: {
    onSubmit: function() {
      if (
        !this.delete_verif_one ||
        !this.delete_verif_two ||
        !this.delete_verif_three
      ) {
        return false;
      }
      this.$store.dispatch(Actions.DELETE_USER, {
        uuid: this.me.uuid
      });
      this.delete_verif_one = false;
      this.delete_verif_two = false;
      this.delete_verif_three = false;
      this.$auth.logout();
      this.$emit('close');
    },
    onCancel() {
      this.delete_verif_one = false;
      this.delete_verif_two = false;
      this.delete_verif_three = false;
      this.$emit('close');
    }
  }
};
</script>

<style lang="scss" scoped></style>
