<template>
  <div id="app">
    <Navbar></Navbar>
    <section class="content">
      <RouterView />
    </section>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar';

export default {
  components: {
    Navbar
  }
};
</script>

<style lang="scss">
#app {
  // background-color: #b7b6b5;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.content {
  margin-top: 52px;
}
</style>
