<template>
  <section class="section">
    <ArtistCard :artist="artist" />
    <Artworks :artworks="artworks" :loading="loading" :with-buttons="false" />
    <div v-if="nextPageToken" class="level">
      <div class="level-item">
        <a
          class="button is-outlined"
          @click.prevent="getArtworks(nextPageToken)"
        >
          <span>{{ $t('artworks-cards.load-next') }}</span>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
import ArtistCard from '@/components/ArtistCard.vue';
import Artworks from '@/components/Artworks.vue';

export default {
  name: 'Artist',
  components: {
    ArtistCard,
    Artworks
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loading: false,
      artworks: [],
      nextPageToken: undefined,
      artist: {}
    };
  },
  async mounted() {
    this.artist = await this.$streetmuseum.getArtist({
      id: this.id
    });
    this.getArtworks(this.nextPageToken);
  },
  methods: {
    async getArtworks(pageToken) {
      let artworksResult = {};
      this.loading = true;
      try {
        artworksResult = await this.$streetmuseum.searchArtworks({
          artist: this.artist.name,
          pageToken
        });
      } catch (err) {
        throw err;
      }

      this.artworks.push(...artworksResult.artworks);
      this.nextPageToken = artworksResult.nextPageToken;
      this.loading = false;
    }
  }
};
</script>

<style lang="scss" scoped></style>
