<template>
  <div class="container pt-4">
    <div class="title">{{ $t('update-artwork.title') }}</div>
    <ArtworkForm :artwork="artwork" :loading="updating" @submit="onSubmit">
      <template v-slot:submit-button>
        <span class="icon">
          <FontAwesomeIcon icon="plus"></FontAwesomeIcon>
        </span>
        <span>{{ $t('update-artwork.title') }}</span>
      </template>
    </ArtworkForm>
  </div>
</template>

<script>
import _ from 'lodash';

import ArtworkForm from '@/components/ArtworkForm';
import { EMPTY_ARTWORK } from '@/constants';

export default {
  name: 'ArtworkDetails',
  components: {
    ArtworkForm
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      updating: false,
      artwork: _.cloneDeep(EMPTY_ARTWORK)
    };
  },
  created: async function() {
    this.artwork = await this.$streetmuseum.getArtwork({ id: this.id });
  },
  methods: {
    async onSubmit(artwork) {
      this.updating = true;
      try {
        await this.$streetmuseum.updateArtwork({ artwork });
      } catch (err) {
        this.updating = false;
        throw err;
      }
      this.updating = false;
      this.$router.push({
        name: this.$router.routes.PROFILE
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
