<template>
  <section class="section">
    <Artworks :artworks="artworks" :loading="loading" />
    <div v-if="nextPageToken" class="level">
      <div class="level-item">
        <a
          class="button is-outlined"
          @click.prevent="getArtworks({ init: false })"
        >
          <span>{{ $t('artworks-cards.load-next') }}</span>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
import Artworks from '@/components/Artworks.vue';

export default {
  name: 'ArtworksList',
  components: {
    Artworks
  },
  props: {
    latest: {
      type: Boolean,
      required: false,
      default: false
    },
    tag: {
      type: String,
      required: false,
      default: ''
    }
  },
  data() {
    return {
      loading: false,
      artworks: [],
      nextPageToken: undefined
    };
  },
  watch: {
    latest: {
      handler() {
        this.getArtworks({ init: true });
      }
    },
    tag: {
      handler() {
        this.getArtworks({ init: true });
      }
    }
  },
  mounted() {
    this.getArtworks({ init: true });
  },
  methods: {
    async getArtworks(init) {
      const searchArgs = {};
      let artworksResult = {};

      if (init) {
        this.nextPageToken = '';
        this.artworks = [];
      }
      if (!this.latest) {
        if (this.tag !== undefined && this.tag !== '') {
          searchArgs['tags'] = JSON.stringify([this.tag]);
        }
      }
      this.loading = true;
      try {
        artworksResult = await this.$streetmuseum.searchArtworks({
          ...searchArgs,
          pageToken: this.nextPageToken
        });
      } catch (err) {
        throw err;
      }

      this.artworks.push(...artworksResult.artworks);
      this.nextPageToken = artworksResult.nextPageToken;
      this.loading = false;
    }
  }
};
</script>

<style lang="scss" scoped></style>
