<template>
  <div class="container pt-4">
    <div class="title">{{ $t('create-artwork.new-artwork') }}</div>
    <ArtworkForm :artwork="artwork" :loading="creating" @submit="onSubmit">
      <template v-slot:submit-button>
        <span class="icon">
          <FontAwesomeIcon icon="plus"></FontAwesomeIcon>
        </span>
        <span>{{ $t('create-artwork.new-artwork') }}</span>
      </template>
    </ArtworkForm>
  </div>
</template>

<script>
import _ from 'lodash';

import ArtworkForm from '@/components/ArtworkForm';
import { EMPTY_ARTWORK } from '@/constants';

export default {
  name: 'ArtworkCreate',
  components: {
    ArtworkForm
  },
  data() {
    return {
      artwork: _.cloneDeep(EMPTY_ARTWORK),
      creating: false
    };
  },
  beforeRouteLeave(to, form, next) {
    this.artwork = _.cloneDeep(EMPTY_ARTWORK);
    return next();
  },
  methods: {
    async onSubmit(artwork) {
      this.creating = true;
      try {
        await this.$streetmuseum.createArtwork({ artwork });
      } catch (err) {
        this.creating = false;
        throw err;
      }
      this.creating = false;
      this.artwork = EMPTY_ARTWORK;
      this.$router.push({
        name: this.$router.routes.PROFILE
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
