<template>
  <div class="tile is-ancestor p-0 m-0">
    <div class="tile is-child is-narrow is-9">
      <StreetMap />
    </div>
    <div id="right-col" class="tile is-parent is-vertical is-3 p-0">
      <Search />
      <ArtworksCards />
    </div>
  </div>
</template>

<script>
import ArtworksCards from '@/components/ArtworksCards.vue';
import Search from '@/components/Search.vue';
import StreetMap from '@/components/StreetMap.vue';

export default {
  name: 'Home',
  components: {
    ArtworksCards,
    StreetMap,
    Search
  }
};
</script>

<style lang="scss" scoped>
#search-tile {
  margin-bottom: 0px !important;
}
#right-col {
  max-height: 95vh;
  overflow-y: auto;
}
</style>
