<template>
  <section class="section">
    <UserCard />
    <Artworks :artworks="artworks" :loading="loading" :with-buttons="true">
      <template v-slot:add-button>
        <RouterLink
          class="button"
          :to="{ name: $router.routes.ARTWORK_CREATE }"
        >
          <span class="icon">
            <FontAwesomeIcon icon="plus"></FontAwesomeIcon>
          </span>
          <span>
            {{ $t('create-artwork.new-artwork') }}
          </span>
        </RouterLink>
      </template>
    </Artworks>
    <div v-if="nextPageToken" class="level">
      <div class="level-item">
        <a
          class="button is-outlined"
          @click.prevent="getMyArtworks(nextPageToken)"
        >
          <span>{{ $t('artworks-cards.load-next') }}</span>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
import Artworks from '@/components/Artworks.vue';
import UserCard from '@/components/UserCard.vue';

const isMine = true;

export default {
  name: 'Profile',
  components: {
    UserCard,
    Artworks
  },
  data() {
    return {
      isMine,
      loading: false,
      artworks: [],
      nextPageToken: undefined
    };
  },
  mounted() {
    this.getMyArtworks(this.nextPageToken);
  },
  methods: {
    async getMyArtworks(pageToken) {
      let artworksResult = {};
      this.loading = true;
      try {
        artworksResult = await this.$streetmuseum.searchArtworks({
          mine: isMine,
          pageToken
        });
      } catch (err) {
        throw err;
      }

      this.artworks.push(...artworksResult.artworks);
      this.nextPageToken = artworksResult.nextPageToken;
      this.loading = false;
    }
  }
};
</script>

<style lang="scss" scoped></style>
