<template>
  <div class="container pt-4">
    <div class="title">{{ $t('update-user.title') }}</div>
    <UserForm :user="me" :loading="updating" @submit="onSubmit">
      <template v-slot:submit-button>
        <span class="icon">
          <FontAwesomeIcon icon="plus"></FontAwesomeIcon>
        </span>
        <span>{{ $t('update-user.title') }}</span>
      </template>
    </UserForm>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapGetters } from 'vuex';

import UserForm from '@/components/UserForm';
import { Actions } from '@/store/user';

export default {
  name: 'UserEdit',
  components: {
    UserForm
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      updating: false
    };
  },
  computed: {
    ...mapGetters(['me'])
  },
  methods: {
    async onSubmit(user) {
      this.updating = true;
      this.$store.dispatch(Actions.UPDATE_USER, user);
      this.updating = false;
      this.$router.push({
        name: this.$router.routes.PROFILE
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
